<div class="row">
    <div class="col s4 in" id="info"> <!--info-->
        <p id="title"> ROCK STARGIRL </p>
        <p id="subtitle" >Una mezcla rebelde, atrevida, con toques de moda punk y glam rock. Crea atuendos con:</p>
        <ul>
            <li><a id="star">✦</a> Cuero</li>
            <li><a id="star">✦</a> Jeans rotos</li>
            <li><a id="star">✦</a> Cadenas y collares gruesos</li>
            <li><a id="star">✦</a> Denim desgastado</li>
            <li><a id="star">✦</a> Tonos obscuros</li>
            <li><a id="star">✦</a> Figuras rebeldes</li>
        </ul>
        <div id="center">
            <div class="color-container">
                <div class="color-hover">
                    <p>Negro</p>
                </div>
                <div class="col s1" id="one"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Gris</p>
                </div>
                <div class="col s1" id="two"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Guinda</p>
                </div>
                <div class="col s1" id="three"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Morado</p>
                </div>
                <div class="col s1" id="four"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Azul</p>
                </div>
                <div class="col s1" id="five"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Rojo</p>
                </div>
                <div class="col s1" id="seis"></div>
            </div>
        </div>
    </div>

    <div class="col s4 img" id="model"> <!--imagen-->
        <img src="assets/Fotos/modeloRockstar.png">
    </div>

    <div class="col s4 rp" id="ropa"> <!--ropa-->
        <div class="col s2 first">

                <div class="image-container">
                    <img src="assets/Fotos/rTop.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.shein.com.mx/risk/challenge?captcha_type=904&redirection=https://www.shein.com.mx%2FSHEIN-ICON-Plus-Size-Sexy-Denim-Top-With-Star-Print-Usa-Top-Summer-Women-Tops-Streetwear-Style-Country-Concert-Outfit-Sexy-Halter-Neckline-And-Open-Back-Design-Back-To-School-Halloween-Black-p-35936734.html&risk-id=E2590853013280391168" target="_blank">Top strapple estrella</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/rPantalon.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.ebay.com/itm/266598296576?itmmeta=01JD8KQ1PF6NAW6TH9WCYJGYNM&hash=item3e127f2c00:g:lO8AAOSwDRZf3W5Q&itmprp=enc%3AAQAJAAAA4Mxmj%2BiGvOveHXEBClPb29ipYGF3YHlela8m3sjIjcoAWpMJCZgfULImus8dcnyF9mWEo8RaFn3mF9AZE16dYk08WL1GrS3ofJn5li6Hq%2FGiOP33MuDb7OeHPrpBvL9ClRvEup2jZjB8f3Exjq6WXRl7hhjuEz6AOpvsMBHRbgM4lQWCSpQLSu1GaO1NUisa6EPFrgjmxFpgShVfIAEW5Agqf29Vh7XleS%2BgIQ6IOBbxMfLy4QqvbcI6p3by27Y7TVFBS2MwgLeeSU%2FPlwD4BPNTJ4vcJoS8RAaHbULBdobS%7Ctkp%3ABFBMrJvck-pk&var=566357017216" target="_blank">Pantalón cuero campana</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/rCollar.png" id="ropaC">
                    <div class="hover-box">
                        <a href="https://www.dolcegabbana.com/es-mx/moda/fine-link-bracelet-with-cross-charm-158051200459855.html" target="_blank">Cadena cruz</a>
                    </div>
                </div>
        </div>
        <div class="col s2 second">

                <div class="image-container">
                    <img src="assets/Fotos/rFalda.png" id="ropaC">
                    <div class="hover-box">
                        <a href="https://imbervintage.com/products/vintage-early-2000s-guess-low-rise-denim-mini-skirt" target="_blank">Minifalda levis</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/rAbrigo.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://zcrave.com/products/noho-fur-trim-leather-jacket" target="_blank">Abrigo pelaje rojo</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/rBotas.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.amazon.com/Vujkliy-Womens-Stretch-Platform-Square/dp/B0CBTXL1HB" target="_blank">Botas ultralargas</a>
                    </div>
                </div>
        </div>
    </div>
</div>
