<div class="row">
    <div class="col s4 in" id="info"> <!--info-->
        <p id="title"> COQUETTE </p>
        <p id="subtitle" >Una tendencia romántica, femenina con inspiración en el glamour vintage elegante. Crea atuendos con:</p>
        <ul>
            <li><a id="star">✦</a> Encajes</li>
            <li><a id="star">✦</a> Volantes</li>
            <li><a id="star">✦</a> Perlas</li>
            <li><a id="star">✦</a> Cintas</li>
            <li><a id="star">✦</a> Tonos pasteles</li>
            <li><a id="star">✦</a> Figuras delicadas</li>
        </ul>
        <div id="center">
            <div class="col s1" id="one"></div>
            <div class="col s1" id="two"></div>
            <div class="col s1" id="three"></div>
            <div class="col s1" id="four"></div>
            <div class="col s1" id="five"></div>
            <div class="col s1" id="seis"></div>
        </div>
    </div>
    <div class="col s4 img"> <!--imagen-->
        <img src="assets/Fotos/modeloCoquette.png">
    </div>
    <div class="col s4 rp" id="ropa"> <!--ropa-->
        <div class="col s2 first">
            <img src="assets/Fotos/cTop2.png" id="ropaG">
            <img src="assets/Fotos/cFalda.png" id="ropaG">
            <img src="assets/Fotos/cZapato2.png" id="ropaC">
        </div>
        <div class="col s2 second">
            <img src="assets/Fotos/cZapato1.png" id="ropaC">
            <img src="assets/Fotos/cVestido.png" id="ropaG">
            <img src="assets/Fotos/cTop.png" id="ropaG">
        </div>
    </div>
</div>
