<div class="row" id="tendenciaCoquette">
    <div class="col s4 in" id="info"> <!--info-->
        <p id="title"> COQUETTE </p>
        <p id="subtitle" >Una tendencia romántica, femenina con inspiración en el glamour vintage elegante. Crea atuendos con:</p>
        <ul>
            <li><a id="star">✦</a> Encajes</li>
            <li><a id="star">✦</a> Volantes</li>
            <li><a id="star">✦</a> Perlas</li>
            <li><a id="star">✦</a> Cintas</li>
            <li><a id="star">✦</a> Tonos pasteles</li>
            <li><a id="star">✦</a> Figuras delicadas</li>
        </ul>
        <div id="center">
            <div class="color-container">
                <div class="color-hover">
                    <p>Blanco</p>
                </div>
                <div class="col s1" id="one"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Gris</p>
                </div>
                <div class="col s1" id="two"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Rosa</p>
                </div>
                <div class="col s1" id="three"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Violeta</p>
                </div>
                <div class="col s1" id="four"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Azul</p>
                </div>
                <div class="col s1" id="five"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Amarillo</p>
                </div>
                <div class="col s1" id="seis"></div>
            </div>
        </div>
    </div>

    <div class="col s4 img" id="model"> <!--imagen-->
        <img src="assets/Fotos/modeloCoquette.png">
    </div>

    <div class="col s4 rp" id="ropa"> <!--ropa-->
        <div class="col s2 first">

                <div class="image-container">
                    <img src="assets/Fotos/cTop2.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.shein.com.mx/goods-p-35389508.html?goods_id=35389508&test=5051&url_from=mxadplasz24042955492422653XL&scene=1&pf=google&ad_type=DPA&language=es&siteuid=mx&landing_page_id=1510&ad_test_id=1195&ad_check=2&requestId=olw-46uulvqzym8r&skucode=I7540i83gngz&onelink=0/google_feed_mx" target="_blank">Blusa estilo babydoll</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/cFalda.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://br.shein.com/risk/challenge?captcha_type=904&redirection=https://br.shein.com%2FPlus-Bow-Front-Lace-Trim-Skirt-p-20913155-cat-1892.html&risk-id=E2590835770429376512" target="_blank">Falda lazo</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/cZapato2.png" id="ropaC">
                    <div class="hover-box">
                        <a href="https://www.amazon.com.mx/Zapatos-Plataforma-Redonda-Uniforme-Informal/dp/B0C7QQS9CN" target="_blank">Tacones mary jane</a>
                    </div>
                </div>
        </div>
        <div class="col s2 second">

                <div class="image-container">
                    <img src="assets/Fotos/cZapato1.png" id="ropaC">
                    <div class="hover-box">
                        <a href="https://www.zinda.es/en/last-chance-old/silver-metallic-embossed-leather-ballerina-pumps" target="_blank">Tacones bailarina</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/cVestido.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.shein.com.mx/Plus-Ditsy-Floral-Print-Bow-Front-Ruffle-Hem-Cami-Dress-p-15215685-cat-1889.html?onelink=4/2u7unwk8qkco&requestId=olw-46uv00sz0ruz&skucode=I48nlgzp4ab9&url_from=mxadplasz23031657257942133XL" target="_blank">Vestido bustier floral</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/cTop.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.shein.com.mx/risk/challenge?captcha_type=904&redirection=https://www.shein.com.mx%2FRabbit-Print-Frill-Trim-Cami-Top-p-22647982.html&risk-id=E2590832655371073536" target="_blank">Blusa pink bunny</a>
                    </div>
                </div>
        </div>
    </div>
</div>
