<div class="footer-container">
    <div class="footer-left">
        <p class="footer-title"><a href="homepage">Vuelve a lo esencial</a></p>
        <p>© 2024 MyCloset.Com, Inc. Todos los derechos reservados.</p>
        <p>
            <a href="#">Política de privacidad</a> | 
            <a href="#">Condiciones de uso</a> | 
            <a href="#">Accesibilidad</a> | 
            <a href="#">Mapa del sitio</a> | 
            <a href="#">Sus opciones de privacidad</a>
        </p>
        <p>1-666-66-6666 &nbsp; TTY: 1-666-666-6666</p>
    </div>
    <div class="footer-right">
        <p>¡DESCARGA LA APP!</p>
    </div>
</div>