<div class="row left-align" id="titleT">
    OTROS USUARIOS
</div>
<div class="row" id="cuadros">
    <div class="col s3 hoverable">
        <div class="image-container">
            <img src="assets/Fotos/usu1.png" alt="Tendencia 1">
            <div class="hover-box">
                <div class="info">
                    <img src="assets/Fotos/user1.jpg" class="fotito">
                    <div class="textito">
                        <p>MaxiSiren927</p>
                        <a href="#"> Ver más ></a>
                    </div>
                </div>
                <h4>Casual Chic ✧₊⁺ Office Siren ✧₊⁺ Minimalista </h4>
            </div>
        </div>
    </div>
    <div class="col s3 hoverable">
        <div class="image-container">
            <img src="assets/Fotos/usu2.png" alt="Tendencia 2">
            <div class="hover-box">
                <div class="info">
                    <img src="assets/Fotos/user2.jpg" class="fotito">
                    <div class="textito">
                        <p>GlossyBaddie_X</p>
                        <a href="#"> Ver más ></a>
                    </div>
                </div>
                <h4>Satin Glow ✧₊⁺ Classy Baddie ✧₊⁺ Basics </h4>
            </div>
        </div>
    </div>
    <div class="col s3 hoverable">
        <div class="image-container">
            <img src="assets/Fotos/usu3.png" alt="Tendencia 3">
            <div class="hover-box">
                <div class="info">
                    <img src="assets/Fotos/user3.jpg" class="fotito">
                    <div class="textito">
                        <p>Gold_BXXTCHXXX</p>
                        <a href="#"> Ver más ></a>
                    </div>
                </div>
                <h4>Denim Mania ✧₊⁺ Gold Star ✧₊⁺ 90's Inspo </h4>
            </div>
        </div>
    </div>
</div>
