<div class="row">
    <div class=" col s6">
        <div class=" col s3">
            <p id="title">MY</p>
            <p id="title">CLO</p>
            <p id="title">SET.</p>
            <p id="title">COM</p>
         </div>
        <div class="col s3">
            <img src="assets/Fotos/gif.gif" alt="">
        </div>
    </div>
    <div class=" col s6"> <!--botones-->
        <a class="waves-effect waves-light btn-large white grey-text text-darken-1">Iniciar Sesión</a>
        <a class="waves-effect waves-light btn-large white grey-text text-darken-1">Registrarte</a>
    </div>
</div>