img{
    width:150%;
    margin-left: 200px;
}
.col.s6{
    height: 700px;
}
#first{
    margin-left: 200px;
}
#second{
    width: 300px;
}
.mover{
    padding-top: 25px;
}
.row{
    margin-top: 30px;
    margin-bottom: 30px;
}
#title{
    text-align: right;
    font-size: 150px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 400px;
    height: 130px;
}
#boton{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-weight:500;
}
#boton:hover{
    background-color: #f7a4be !important;
    color: white !important;
}
.botoness{
    margin-top: 100%;
}

