<div class="row">
    <div class="col s6" id="pH"><img src="assets/Fotos/josefa.jpg"></div>
    <div class="col s6" id="uN">josefita14bonita </div>
    <div class="col s6" id="nR">Josefa Ortiz <a href="/"><i class="material-icons">exit_to_app</i></a> </div>
    <div class="chips chips-initial col s6" ></div>
<!-- New "favoritos" div added here -->
<div class="favoritos col s6">
    <h2>Favoritos</h2>
    <div class="elementos-favoritos">
        <div class="elemento-favorito"><img src="assets/Fotos/usu5.png"></div>
        <div class="elemento-favorito"><img src="assets/Fotos/usu6 (1).png"></div>
        <div class="elemento-favorito"><img src="assets/Fotos/usu4.png"></div>
    </div>
</div>
</div>

