<div class="row">
    <div class="col s6" id="pH"><img src="assets/Fotos/user2.jpg"></div>
    <div class="col s6" id="uN">GlossyBaddie_X </div>
    <div class="col s6" id="nR">Veronica Garcia <i class="material-icons">share</i> </div>
    <div class="chips chips-initial col s6" ></div>
<!-- New "favoritos" div added here -->
<div class="favoritos col s6">
    <h2>Favoritos</h2>
    <div class="elementos-favoritos">
        <div class="elemento-favorito"><img src="assets/Fotos/usu2.png"></div>
        <div class="elemento-favorito"><img src="assets/Fotos/usu11.png"></div>
        <div class="elemento-favorito"><img src="assets/Fotos/uso15.png"></div>
    </div>
</div>
</div>
