<div class="row" id="space">
    <div class="col s2 tyb" id="margen"> <!--titulo y botones-->
        <p id="title">TOPS</p>
        <div class="row">
            <a class="waves-effect waves-light btn-large"><i class="large material-icons">favorite</i></a>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn-large"><i class="large material-icons">add</i></a>
        </div>
    </div>

    <div class="col s3 center-align" id="margen"> <!--imagen y apartados-->
            <img src="/assets/Fotos/maniqui.jpg">
    </div>

    <div class="col s7 closet" id="margen"><!--closet-->
        <div class="col s1 secciones">
            <a class="waves-effect waves-light btn-large" id="opt"><i class="small material-icons">favorite</i></a>
            <a class="waves-effect waves-light btn-large" id="opt"><img src="">2</a>
            <a class="waves-effect waves-light btn-large" id="opt"><img src="">2</a>
            <a class="waves-effect waves-light btn-large" id="opt"><img src="">2</a>
            <a class="waves-effect waves-light btn-large" id="opt"><img src="">2</a>
            <a class="waves-effect waves-light btn-large" id="opt"><img src="">2</a>
        </div>
        <div class="col s2 clothes" id="margen2"><!--primera columna-->
            hola
        </div>
        <div class="col s2 clothes" id="margen2"><!--segunda columna-->
            dos
        </div>
        <div class="col s2 clothes" id="margen2"><!--tercera columna-->
            tres
        </div>
    </div>
</div>