<div class="row">
    <div class="col s4 in" id="info"> <!--info-->
        <p id="title"> OLD MONEY </p>
        <p id="subtitle" >Un estilo elegante, fino, clásico, con lujo discreto y sofisticación atemporal. Crea atuendos con:</p>
        <ul>
            <li><a id="star">✦</a> Blazer</li>
            <li><a id="star">✦</a> Pantalones de vestir</li>
            <li><a id="star">✦</a> Bufandas de seda</li>
            <li><a id="star">✦</a> Camisas de algodón</li>
            <li><a id="star">✦</a> Tonos neutros</li>
            <li><a id="star">✦</a> Siluetas clásicas</li>
        </ul>
        <div id="center">
            <div class="color-container">
                <div class="color-hover">
                    <p>Gris</p>
                </div>
                <div class="col s1" id="one"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Beige</p>
                </div>
                <div class="col s1" id="two"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Olivo</p>
                </div>
                <div class="col s1" id="three"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Azul</p>
                </div>
                <div class="col s1" id="four"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Guinda</p>
                </div>
                <div class="col s1" id="five"></div>
            </div>
            <div class="color-container">
                <div class="color-hover">
                    <p>Negro</p>
                </div>
                <div class="col s1" id="seis"></div>
            </div>
        </div>
    </div>

    <div class="col s4 img" id="model"> <!--imagen-->
        <img src="assets/Fotos/modeloOldMoney.png">
    </div>

    <div class="col s4 rp" id="ropa"> <!--ropa-->
        <div class="col s2 first">

                <div class="image-container">
                    <img src="assets/Fotos/omTop.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www2.hm.com/en_us/productpage.1206747001.html" target="_blank">Chaleco listón espalda</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/omPantalon.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.shein.com.mx/risk/challenge?captcha_type=904&redirection=https://www.shein.com.mx%2FSHEIN-MOD-Apricot-Irregular-Loose-Fit-Wide-Leg-Pants-For-Women-Casual-Back-To-School-Clothes-Old-Money-Style-Teacher-Pants-Khaki-Pants-Business-Women-Clothes-p-37835668.html&risk-id=E2590842561175398400" target="_blank">Pantalón anchos</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/omZapato.png" id="ropaC">
                    <div class="hover-box">
                        <a href="https://www2.hm.com/en_us/productpage.1206747001.html" target="_blank">Mocasines cuero</a>
                    </div>
                </div>
        </div>
        <div class="col s2 second">

                <div class="image-container">
                    <img src="assets/Fotos/omArete.png" id="ropaC">
                    <div class="hover-box">
                        <a href="https://www.christinesjewellery.com/products/pearl-drop-earrings" target="_blank">Perlas colgantes</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/omEnterizo.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www.zara.com/mx/es/chaleco-doble-trabilla-p05427788.html?v1=384626690" target="_blank">Enterizo espalda abierta</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/Fotos/omSueter.png" id="ropaG">
                    <div class="hover-box">
                        <a href="https://www2.hm.com/es_mx/productpage.0773977001.html" target="_blank">Sueter algodón</a>
                    </div>
                </div>
        </div>
    </div>
</div>

