
<div class="row">
    <div class=" col s6" id="first">
        <div class="col s3">
            <div class="mover">
            <p id="title">MY</p>
            <p id="title">CLO</p>
            <p id="title">SET.</p>
            <p id="title">COM</p>
            </div>
         </div>
        <div class="col s3">
            <img src="assets/Fotos/gif.gif" alt="">
        </div>
    </div>
    <div class="col s6 center-align" id="second"> <!--botones-->
        <div class="row" id="is">
            <form class="col s12">
              <div class="row" id="medio2">
                <div class="input-field col s6" id="borders1">
                  <input placeholder="Nombre de usuario" id="first_name" type="text" class="validate">
                  <label for="first_name"></label>
                </div>
              </div>
        
              <div class="row" id="medio2">
                <div class="input-field col s6" id="borders2">
                  <input placeholder="Contraseña" id="password" type="password" class="validate">
                  <label for="password"></label>
                </div>
              </div>
        
              <div class="row back" id="medio">
                <a id="boton" class="waves-effect waves-light btn-large white grey-text text-darken-1" href="/homepage">Ingresar</a>
              </div>
        
              <div id="medio" class="back">
                <a href="#" id="cancel">Cancelar</a>
              </div>
        
            </form>
          </div>
    </div>
</div>


        
