<div class="welcome-container">
    <div class="text-content">
      <h1 class="welcome-title">BIENVENIDO</h1>
      <p class="welcome-description">
        Ahorra tiempo eligiendo outfits, mantén tu estilo único o experimenta con nuevas combinaciones. Descubre la icónica comunidad de <b class="little-bold">MyCloset.com</b>
      </p>
      <br>
      <i><h2 class="search-prompt center-align">¿BUSCAS ALGO?</h2></i>
      <div class="arrow-container center-align">
        <a href="/homepage/#titleS" class="btn-floating btn-large waves-effect waves-light grey lighten-5"><i class="material-icons grey-text">arrow_downward</i></a>
      </div>
    </div>
    <div class="image-content">
      <img src="assets/Fotos/PuertaEntrar.png" alt="Image" class="back">
      <img src="assets/Fotos/PuertaOg.png" alt="Image" class="front">
    </div>
  </div>

  
