.welcome-container 
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-left: 80px;
    margin-bottom: 10%;
  }
  
  .text-content 
  {
    max-width: 50%;
    margin-right: 30px;
    margin-top: 7%;
  }
  
  .welcome-title 
  {
    font-size: 100px;
    font-weight: bold;
  }
  
  .welcome-description 
  {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.2em;
    color: #737071;
  }

  .little-bold
  {
    margin-top: 10px;
    font-size: 1.2em;
    color:#f7a4be;
  }
  
  .search-prompt 
  {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 170px;
    margin-bottom: 0;
  }
  
  .scroll-down 
  {
    margin-top: 2px;
    font-size: 0.9em;
    margin-left: 95px;
    margin-bottom: 0;
    
  }
  
  .arrow-container 
  {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 120px;
    margin-right: 170px;
    line-height: 1;
  }
  
  .image-content 
  {
    margin-right: 170px;
    position: relative;
    height: 700px;
    width:700px;
  }

  img{
    width: 120%;
    margin-top: 0px;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
  }
  .front:hover{
    opacity: 0;
    cursor: pointer;
  }
  .front:hover ~ .back {
    opacity: 1;
  }
  .person-image  {
    max-width: 100%;
    height: auto;
  }
  .btn-floating:hover {
    background-color: #f7a4be !important;
  }
  .btn-floating:hover i {
    color: #FFFFFF !important; 
  }