<div class="welcome-container">
    <div class="text-content">
      <h1 class="welcome-title">BIENVENIDO</h1>
      <p class="welcome-description">
        Ahorra tiempo eligiendo outfits, mantén tu estilo único o experimenta con nuevas combinaciones. Descubre la icónica comunidad de <b class="little-bold">MyCloset.com</b>
      </p>
      <br>
      <i><h2 class="search-prompt">¿BUSCAS ALGO?</h2></i>
      <p class="scroll-down">Scroll Down</p>
      <div class="arrow-container">
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
    <div class="image-content">
      <img src="assets/Fotos/PuertaO2.png" alt="Image" class="hover-image">
    </div>
  </div>

  
