<div class="row left-align" id="titleT">
    TENDENCIAS
</div>
<div class="row" id="cuadros">
    <div class="col s3 hoverable">
        <div class="image-container">
            <img src="assets/Fotos/tendencia1.png" alt="Tendencia 1">
            <div class="hover-box">
                <p>Coquette</p>
                <h4>Estilo dulce y vintage. Usa colores suaves, lazos con detalles delicados<a href="/tCoquette/#tendenciaCoquette"> Ver más ></a></h4>
            </div>
        </div>
    </div>
    <div class="col s3 hoverable">
        <div class="image-container">
            <img src="assets/Fotos/tendencia2.png" alt="Tendencia 2">
            <div class="hover-box">
                <p>Old Money</p>
                <h4>Elegancia clásica y sofisticada, con prendas atemporales de alta calidad. Neutros y discretos<a href="/tOldMoney/#tendenciaOldMoney"> Ver más ></a></h4>
            </div>
        </div>
    </div>
    <div class="col s3 hoverable">
        <div class="image-container">
            <img src="assets/Fotos/tendencia3.png" alt="Tendencia 3">
            <div class="hover-box">
                <p>Rockstar Girl</p>
                <h4>Look rebelde, audaz, con prendas de cuero, camisetas de bandas y siempre chic<a href="/tRock/#tendeciaRockstargirl"> Ver más ></a></h4>
            </div>
        </div>
    </div>
</div>