.row.grey.lighten-2{
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#img1{
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
}
#img2{
    height: 20px;
    width: 20px;
}

.col.s2.left{
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

.col.s2.right{
    display: flex;
    align-items: center;
    justify-content: right;
}
a{
    font-size: 1.2em;
    color: #333;
    padding-left: 10px;
}
a:hover{
    color: #ed608c;
}