<div class="row" id="space">
    <div class="col s2 tyb" id="margen"> <!--titulo y botones-->
        <p id="title">FAVORITOS</p>
        <div class="row">
            <a class="waves-effect waves-light btn-large" id="opt2"><img src="assets/Fotos/corazon.png"></a>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn-large" id="opt2"><img src="assets/Fotos/agregar.png"></a>
        </div>
    </div>

    <div class="col s3 center-align" id="margen"> <!--imagen y apartados-->
            <img src="/assets/Fotos/maniqui.jpg">
    </div>

    <div class="col s7 closet" id="margen"><!--closet-->
        <div class="col s1 secciones">
            <a class="waves-effect waves-light btn-large" id="opt1" href="MyClosetFavoritos"><img src="assets/Fotos/corazon.png"></a>
            <a class="waves-effect waves-light btn-large" id="opt" href="MyClosetTops"><img src="assets/Fotos/top.png"></a>
            <a class="waves-effect waves-light btn-large" id="opt" href="MyClosetBottoms"><img src="assets/Fotos/bottom.png"></a>
            <a class="waves-effect waves-light btn-large" id="opt" href="MyClosetVestidos"><img src="assets/Fotos/vestido.png"></a>
            <a class="waves-effect waves-light btn-large" id="opt" href="MyClosetZapatos"><img src="assets/Fotos/zapato.png"></a>
            <a class="waves-effect waves-light btn-large" id="opt" href="MyClosetAccesorios"><img src="assets/Fotos/acccesorio.png"></a>
        </div>
        <div class="col s2 clothes"><!--primera columna-->
           <img src="assets/Fotos/favCloset1.png" id="margen2">
           <img src="assets/Fotos/favCloset8.png" id="margen2">
           <img src="assets/Fotos/favCloset9.png" id="margen2">
        </div>
        <div class="col s2 clothes"><!--segunda columna-->
           <img src="assets/Fotos/favCloset2.png" id="margen2">
           <img src="assets/Fotos/favCloset6.png" id="margen2">
           <img src="assets/Fotos/favCloset7.png" id="margen2">
        </div>
        <div class="col s2 clothes"><!--tercera columna-->
           <img src="assets/Fotos/favCloset3.png" id="margen2">
           <img src="assets/Fotos/favCloset4.png" id="margen2">
           <img src="assets/Fotos/favCloset5.png" id="margen2">
        </div>
    </div>
</div>
